dative-xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.dative.ca/" xmlns:dt="http://www.dative.ca/">
  <xs:element name="dative">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="dt:forms"/>
        <xs:element ref="dt:form"/>
        <xs:element ref="dt:search"/>
        <xs:element ref="dt:corpus"/>
      </xs:choice>
      <xs:attribute name="version" use="required" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0.1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="forms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dt:form"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:query"/>
        <xs:element ref="dt:forms"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="corpus">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:corpus_metadata"/>
        <xs:element ref="dt:forms"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="query">
    <xs:complexType>
      <xs:all>
        <xs:element ref="dt:filter"/>
        <xs:element ref="dt:order_by"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="filter" type="xs:string"/>
  <xs:element name="order_by" type="xs:string"/>
  <xs:element name="corpus_metadata" type="xs:string"/>
  <xs:element name="form">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:files"/>
        <xs:element ref="dt:syntax"/>
        <xs:element ref="dt:morpheme_break_ids"/>
        <xs:element ref="dt:grammaticality"/>
        <xs:element ref="dt:datetime_modified"/>
        <xs:element ref="dt:morpheme_gloss_ids"/>
        <xs:element ref="dt:date_elicited"/>
        <xs:element ref="dt:morpheme_gloss"/>
        <xs:element ref="dt:id"/>
        <xs:element ref="dt:datetime_entered"/>
        <xs:element ref="dt:transcription"/>
        <xs:element ref="dt:enterer"/>
        <xs:element ref="dt:comments"/>
        <xs:element ref="dt:source"/>
        <xs:element ref="dt:verifier"/>
        <xs:element ref="dt:speaker"/>
        <xs:element ref="dt:speaker_comments"/>
        <xs:element ref="dt:status"/>
        <xs:element ref="dt:elicitor"/>
        <xs:element ref="dt:break_gloss_category"/>
        <xs:element ref="dt:tags"/>
        <xs:element ref="dt:elicitation_method"/>
        <xs:element ref="dt:translations"/>
        <xs:element ref="dt:syntactic_category"/>
        <xs:element ref="dt:phonetic_transcription"/>
        <xs:element ref="dt:semantics"/>
        <xs:element ref="dt:UUID"/>
        <xs:element ref="dt:narrow_phonetic_transcription"/>
        <xs:element ref="dt:syntactic_category_string"/>
        <xs:element ref="dt:morpheme_break"/>
        <xs:element ref="dt:modifier"/>
        <xs:element ref="dt:collections"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:int"/>
  <xs:element name="UUID" type="xs:string"/>
  <xs:element name="grammaticality" type="xs:string"/>
  <xs:element name="narrow_phonetic_transcription" type="xs:string"/>
  <xs:element name="phonetic_transcription" type="xs:string"/>
  <xs:element name="transcription" type="xs:string"/>
  <xs:element name="morpheme_gloss" type="xs:string"/>
  <xs:element name="morpheme_break" type="xs:string"/>
  <xs:element name="syntactic_category_string" type="xs:string"/>
  <xs:element name="translations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dt:translation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="translation">
    <xs:complexType>
      <xs:all>
        <xs:element ref="dt:transcription"/>
        <xs:element ref="dt:grammaticality"/>
        <xs:element ref="dt:id"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="morpheme_break_ids" type="xs:string"/>
  <xs:element name="morpheme_gloss_ids" type="xs:string"/>
  <xs:element name="break_gloss_category" type="xs:string"/>
  <xs:element name="datetime_entered" type="xs:dateTime"/>
  <xs:element name="datetime_modified" type="xs:dateTime"/>
  <xs:element name="date_elicited">
    <xs:simpleType>
      <xs:union memberTypes="xs:date">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="comments" type="xs:string"/>
  <xs:element name="speaker_comments" type="xs:string"/>
  <xs:element name="status">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="tested"/>
        <xs:enumeration value="requires testing"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="enterer">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:first_name"/>
        <xs:element ref="dt:last_name"/>
        <xs:element ref="dt:role"/>
        <xs:element ref="dt:id"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="first_name" type="xs:string"/>
  <xs:element name="last_name" type="xs:string"/>
  <xs:element name="role">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="administrator"/>
        <xs:enumeration value="contributor"/>
        <xs:enumeration value="viewer"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="modifier">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:first_name"/>
        <xs:element ref="dt:last_name"/>
        <xs:element ref="dt:role"/>
        <xs:element ref="dt:id"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="elicitor">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:first_name"/>
        <xs:element ref="dt:last_name"/>
        <xs:element ref="dt:role"/>
        <xs:element ref="dt:id"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifier">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:first_name"/>
        <xs:element ref="dt:last_name"/>
        <xs:element ref="dt:role"/>
        <xs:element ref="dt:id"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="speaker">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:dialect"/>
        <xs:element ref="dt:first_name"/>
        <xs:element ref="dt:last_name"/>
        <xs:element ref="dt:id"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="dialect" type="xs:string"/>
  <xs:element name="source">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:chapter"/>
        <xs:element ref="dt:publisher"/>
        <xs:element ref="dt:school"/>
        <xs:element ref="dt:institution"/>
        <xs:element ref="dt:author"/>
        <xs:element ref="dt:journal"/>
        <xs:element ref="dt:title"/>
        <xs:element ref="dt:pages"/>
        <xs:element ref="dt:note"/>
        <xs:element ref="dt:editor"/>
        <xs:element ref="dt:key"/>
        <xs:element ref="dt:year"/>
        <xs:element ref="dt:booktitle"/>
        <xs:element ref="dt:type"/>
        <xs:element name="id" type="xs:string"/>
        <xs:element ref="dt:crossref"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="chapter" type="xs:string"/>
  <xs:element name="publisher" type="xs:string"/>
  <xs:element name="school" type="xs:string"/>
  <xs:element name="institution" type="xs:string"/>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="journal" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="pages" type="xs:string"/>
  <xs:element name="note" type="xs:string"/>
  <xs:element name="editor" type="xs:string"/>
  <xs:element name="key" type="xs:string"/>
  <xs:element name="year" type="xs:string"/>
  <xs:element name="booktitle" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="crossref" type="xs:string"/>
  <xs:element name="elicitation_method">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:id"/>
        <xs:element ref="dt:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="syntactic_category">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt:id"/>
        <xs:element ref="dt:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="tags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dt:tag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tag">
    <xs:complexType>
      <xs:all>
        <xs:element ref="dt:id"/>
        <xs:element ref="dt:name"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="files">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dt:file"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="file">
    <xs:complexType>
      <xs:all>
        <xs:element ref="dt:name"/>
        <xs:element ref="dt:url"/>
        <xs:element ref="dt:filename"/>
        <xs:element ref="dt:lossy_filename"/>
        <xs:element ref="dt:id"/>
        <xs:element ref="dt:MIME_type"/>
        <xs:element ref="dt:size"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="url" type="xs:string"/>
  <xs:element name="filename" type="xs:string"/>
  <xs:element name="lossy_filename" type="xs:string"/>
  <xs:element name="MIME_type" type="xs:string"/>
  <xs:element name="size" type="xs:int"/>
  <xs:element name="collections" type="xs:string"/>
  <xs:element name="syntax" type="xs:string"/>
  <xs:element name="semantics" type="xs:string"/>
</xs:schema>
